.path {
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.drives {
    padding: 0px;
    margin: 0px
}

.drive {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.drive-icon {
    display: block;
    margin: 0px;
    padding: 0px;
}

.drive-name {
    display: inline-block;
    text-align: left;
    padding: 0px;
    padding-bottom: 3px;
    margin: 0px 5px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.drive-info {
    display: inline-block;
    text-align: left;
    padding: 0px;
    padding-top: 3px;
    margin: 0px;
    margin-left: 10px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.lib-icon {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

.lib-name {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.un-selectable {
    user-select: none;
    cursor: pointer;
}

.drive-gap {
    margin: 10px 0px;
    padding: 0px;
    background-color: lightgrey;
    border: 1px solid #F0F0F0;
}

.choose-file {
    width: 70%;
    margin: 12px 0px;
    padding: 5px;
}

.upload-button {
    width: 25%;
    height: 32px;
    margin: 12px 0px;
    padding: 5px;
    background-color: #F0F0F0;
    border: 1px solid gray;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.uploading {
    text-align: center;
    margin: 15px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

img {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

hr {
    margin: 10px 0px;
    padding: 0px;
}

td {
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}