<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> MyFileServer </title>

    <link rel="stylesheet" href="/static/stylesheets/index.css">
    <script src="/static/javascripts/jquery-3.5.1.min.js"></script>
</head>

<body>
    <script>
        $('body').hide();
    </script>

    <div class="top-pannel">
        <table width="100%">
            <tr height="30px">
                <td class="path-td">
                    <div class="path">{{meta}}</div>
                </td>
                <td class="option-td un-selectable" align="right" id="search">
                    <img class="option" src="/static/images/icons/search.png" width="25px">
                </td>
                <td class="option-td un-selectable" align="right" id="settings">
                    <img class="option" src="/static/images/icons/settings.png" width="25px">
                </td>
            </tr>
        </table>
    </div>

    <div align="right" class="settings-pannel">
        <hr>

        <div align="left" class="sorting">
            <input type="radio" name="sort" value="name">
            <label for="name">Sort by Name</label> <br> <br>
            <input type="radio" name="sort" value="date">
            <label for="date">Sort by Date</label> <br> <br>
            <input type="radio" name="sort" value="type">
            <label for="type">Sort by Type</label> <br> <br>
            <input type="radio" name="sort" value="size">
            <label for="size">Sort by Size</label>
        </div>

        <div align="left" class="reverse-hide">
            <div align="left">
                <input type="radio" name="reverse" value="False">
                <label for="False">Ascending</label> <br> <br>
                <input type="radio" name="reverse" value="True">
                <label for="True">Descending</label>
            </div>
            <br>
            <div align="left" style="margin-top: 40px; margin-left: 2px;">
                <input type="checkbox" name="hidden">
                <label for="hidden">Show Hidden Items</label>
            </div>
        </div>
    </div>

    <div align="center" class="search-pannel">
        <hr>

        <div align="center">
            <input type="text" class="search-bar" placeholder="Search items on this page">
            <br>
            <input type="checkbox" id="deep" style="margin: 10px;">
            <label for="deep">Enable Deep Search</label>
        </div>
    </div>

    <div class="items">
        <hr>
        <div class="empty">Loading ...</div>
        <hr>
    </div>

    <div align="center">
        <form action="/upload" method="POST" enctype="multipart/form-data" id="uploader">
            <input class="choose-file un-selectable" type="file" name="files" required multiple />
            <input class="upload-button un-selectable" type="submit" value="Upload" />
        </form>
    </div>

    <br>

    <script src="/static/javascripts/index.js"></script>
</body>

</html>